* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

body {
    background-color: #24353F;
    font-family: 'Titillium Web',sans-serif;
}

html {
    font-size: 16px;
    
}
}

.content {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);;
    border: 2px solid #24353F ;
}

h1 {
    color: #17A2B8;
    font-size: 2rem;
}

input[type="text"], input[type= "password"],
input::placeholder {
    background-color: #24353F;
    color: #fff;
   
}

input[type="text"]:focus, input[type="password"]:focus {
    background-color: #24353F;
    color: #fff;
    
}

input[type="text"]::placeholder ,
input[type="password"]::placeholder {
    
    color: #B6B6B6;
   
}



p,a {
    color: white;
}

